@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  word-spacing: -1px;
}

#root {
  width: 100vw;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  h1 { @apply text-h1 capitalize ; }
  h2 { @apply text-h2 capitalize ; }
  h3 { @apply text-h3 capitalize ; }
  h4 { @apply text-h4 capitalize ; }
  h5 { @apply text-h5 capitalize ; }
  h6 { @apply text-h6 capitalize ; }
}

.menu__link {
  @apply text-white pl-3 pr-4 py-2 md:p-0 hover:text-pink-600 hover:bg-transparent bg-transparent border-b md:border-0;

  &--active {
    @apply text-pink-600 rounded;
  }

  &__dropDown {
    @apply block px-4 py-2 hover:text-pink-600 dark:hover:bg-gray-600;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;

  &:hover {
    border-color: #646cff;
  }
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.slick-slider {

  .slick-prev,
  .slick-next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 1;
    &::before{
      line-height: 1.1;
      @apply text-pink-600;
      font-size: 25px;
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}